// Brand colors 
$brand_primary_color: #5b2ca2;
$brand_secondary_color: white;
$brand_tertiary_color: #878589;

// Font families 
$font_title_family: 'Source Serif Pro';
$font_desc_family: 'Work Sans';
$font_small_title_family: 'Work Sans';

// Font colors 
$font_primary_color: $brand_primary_color;
$font_secondary_color: white;
$font_tertiary_color: #878589;

// Spacing between content 
$section_margin_top: 170px;