// Brand colors 
$brand_primary_color: #5b2ca2;

// Font families 
$font_title_family: 'Times New Roman';
$font_desc_family: 'Arial';
$font_small_title_family: 'Roboto';

// Font colors 
$font_primary_color: $brand_primary_color;
$font_secondary_color: white;
$font_tertiary_color: #878589;

// Spacing between content 
$section_margin_top: 50px;